/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-size: 62.5%;
}

body {
}

/* Header */
#header {
  margin-top: 2rem;
}
.title {
  text-align: center;
  font-family: "Allison", cursive;
  font-size: 8rem;
  letter-spacing: 1rem;
  color: #001870;
}

/* Form */
.form {
  display: flex;
  position: relative;
  width: 50vw;
  margin: 0 auto;
  margin-top: 2rem;
}

#input,
.input_button,
.filter,
.filter option {
  outline: none;
  border: none;
  margin: 0;

  padding: 1.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Source Code Pro", monospace;
}

#input {
  /* background-color: rgb(211, 211, 211); */
  background-color: white;
  border-bottom: 2px solid black;
  padding-left: 2rem;
}

.input_button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5rem;
  width: 5rem;

  position: absolute;
  bottom: 0;
  left: 35rem;

  font-size: 5rem;
  padding: 0;

  background-color: white;
  border: 2.5px solid black;

  cursor: pointer;
}

.fa-plus {
  /* font-size: 4rem; */
  color: #335fff;
}

.filter {
  position: absolute;
  right: 0;
  cursor: pointer;
}

/* Main */

#main {
  width: 60vw;
  margin: 0 auto;
  margin-top: 5rem;
  /* box-shadow: 0px 7px 17px 1px rgba(0,0,0,0.67); */
}

.todo {
  display: block;
  position: relative;

  padding-left: 5rem;
  padding-top: 1rem;

  margin-bottom: 1rem;

  /* border-bottom: solid 1px black; */

  font-size: 3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  user-select: none;
  cursor: auto;

  transition : all 0.5s cubic-bezier(1, 1, 1, 1);
}

.todo:hover {
  cursor: pointer;
}

.todo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 4.5rem;
  width: calc(60vw - 4.5rem);
  height: 2px;
  background-color: black;
}

.todo input {
  position: absolute;

  height: 0;
  width: 0;

  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 1rem;
  left: 0.5rem;

  height: 2.5rem;
  width: 2.5rem;

  background-color: white;
  border: solid 2.4px black;
  border-radius: 10px;
}

.checkmark:hover {
  cursor: auto;
  background-color: #ccc;
}

.todo input:checked ~ .checkmark {
  background-color: cornflowerblue;
}

.checkmark::after {
  content: "";
  position: absolute;
  /* display: none; */
}

.checkmark::after {
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3.5px 3.5px 0;
  transform: rotate(45deg);
}

.deletebutton {
  border: none;

  position: absolute;
  right: 1rem;
  top: 1rem;

  border-radius: 13px;

  height: 2.5rem;
  width: 2.5rem;
  
  cursor: pointer;

  background-color:white;
  border: 3px solid red;
}

.deletebutton:hover {
  background-color: red;
}

.delete {
  opacity: 0;
  transform: translateY(130%);
}