body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1f0252;
}

header {
  height: 5rem;
  background-color: #7141c4;
}

section {
  padding: 3rem 2rem 2rem;
  background-color: #811573;
}

h1 {
  margin: 0;
  color: #617bff;
}

a {
  background-color: #157a81;
  padding: 0.5rem 2.3rem;
  display: inline-block;
  color: #3c1581;
  text-decoration: none;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

footer {
  height: 2rem;
  background: #1f0252;
}

/* Improvements */
section {
  background-color: #3c1581;
}

/* More Readable */
h1,
p {
  color: rgb(255, 248, 205);
}

a {
  background-color: #feed00;
}
