body {
  background-color: #7141c4;
  height: 100vh;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: lightyellow;
  margin: 30px 50px;
}
