/* Reser ==> Universal Selector */
* {
  margin: 0;
  padding: 0;
}

main {
  background-color: rgb(216, 230, 218);
  padding: 30px;
}

/* container for all sections */
main .all-content {
  display: flex;
  justify-content: space-evenly;
}

/* shared styles for sections */
main .all-content .section {
  width: 250px;
  background-color: rgb(83, 95, 107);
}

/* Image Style */
img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 30%;
}

/* Title */
h1 {
  font-family: "Oswald", sans-serif;
}

/* All Paragraph (exclude first one) */
p:not(:first-of-type) {
  text-align: left;
  font-family: "Liu Jian Mao Cao", cursive;
}

p {
  font-family: "Spicy Rice", cursive;
}
