/* Reset Universal Selection */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: slategrey;
  border-left: 17px solid rgba(0, 0, 0, 0.2);
  height: 100vh;
  padding: 30px;
}

/* Main Styling */

/* Container */
.container {
  width: 80%;
  margin: 0 auto;
}

/* Links */
a {
  color: white;
  text-decoration: none;
}

/* Logo */
a.logo {
  display: block;
  padding-top: 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

/* Heading */
h1 {
  margin: 30px 0 20px 20px;
  color: white;
}

/* Paragraph */
p {
  margin: 0 0 20px 20px;
  color: #b2cef2;
  line-height: 20px;
  font-size: 16px;
}

/* CTA = Call TO Action Button */
a.cta {
  display: inline-block;
  background: #5099ff;
  padding: 14px 28px;
  font-weight: bold;
  border-radius: 30px;
  transform: translateX(50%);
  margin-top: 32px;
}

/* Show Column: */

.container {
  border-left: 1px solid rgba(255, 255, 255, 0);
}
