/* Universal Selector */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  /* 10px */
  font-size: 62.5%;
  font-family: "Roboto Condensed", sans-serif;
}

/* Header */
#header {
  width: 100%;
  background-color: #140c12;
  position: sticky;
  top: 0;
}

/* Navbar */
.navbar {
  height: 5vh;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .navbar__logo {
  flex: 1 1 20rem;
  display: flex;
}

.navbar .navbar__logo a {
  display: inline-block;
  text-decoration: none;
}

.navbar .navbar__logo a span {
  color: rgba(255, 255, 255, 0.9);
  font-size: 40px;
  font-weight: bold;
}

.navbar .navbar__elements {
  flex: 2 1 20rem;
  display: flex;
  justify-content: space-around;
}

.navbar .navbar__elements li {
  list-style: none;
  font-size: 20px;
  font-weight: 300;
}

.navbar .navbar__elements li a {
  text-decoration: none;
  color: white;
}

.navbar .navbar__elements li a:hover {
  font-weight: bold;
}

/* Main Section */
#main {
  width: 100%;
  background-color: #f6f6f6;
  min-height: 95vh;
}

.match {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.match .match__header {
  display: flex;
  justify-content: center;
}

.match .match__header {
  margin-top: 5vh;
}

.match .match__header h1 {
  font-size: 5rem;
}

/* match teams */
.match .match__teams {
  margin: 4rem;
}

.match .match__teams div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.match .match__teams span {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 5px;
  margin: 0 5rem;
}

.match .match__teams img {
  width: 200px;
  height: 200px;
}
