/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

#header {
  background-color: rgb(48, 48, 48);
  height: 15vh;
  display: flex;
  align-items: center;
  position: sticky;
}

#logo {
  margin-left: 20vh;
  flex: 2 1 40rem;
}

header img {
  height: 10vh;
  border-radius: 10%;
}

nav {
  display: flex;
  width: 90%;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex: 1 1 40rem;
}

.match {
  text-align: center;
}

.Recent-Match {
  display: inline-block;
  height: auto;
  background-color: rgb(36, 36, 36);

  color: white;
  border-radius: 1.5rem;
  margin-top: 3rem;
}

.Recent-Match h1 {
  padding: 20px 40px;
  font-size: 4rem;
  font-weight: bold;
}

.teams {
  width: 100vw;
  margin-top: 5vh;
  color: white;
  font-size: 2rem;
}

.teams img {
  display: inline-block;
  height: 20vh;
}

